
.detailSuccess {
    width: 460px;
    height: 371px;
    display: flex;
    padding: 28px 74px;
    background: #fff;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.08);
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
}

.detailSuccess .detailSuccessTitle {
    color: #3A3A3A;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

.detailSuccess .detailSuccessDescription {
    color: #3A3A3A;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 44px;
}

.detailSuccess .buttonsBlock button {
    width: 125px;
    padding: 11px 0;
}
